section.topbar{
    display: flex;
    justify-content:space-between;
    align-items:center;
    background: #D43C33;
    padding:17px 10px;
    
}

section.topbar .logo>svg{
    width:142px;
    height:25px;
    vertical-align:top;


}

section.topbar > a{
    color:white;
    display:inline-block;
    font-size:15px;
    padding:5px 11px;
    border-radius:15px;
    position: relative;
    top:1px;

}

section.topbar > a::after{
content: '';
position: absolute;
top:0;
left:0;
width:200%;
height:200%;
border:1px solid white;
border-radius:30px;
transform:scale(0.5);
transform-origin:0 0;

}

/*tabs*/

.sectionTitle{
    border-left:2px solid #D43C33;
    font-size:17px;
    padding-left:8px;
    margin:20px 0 8px;
    line-height:1;
}

.tabs{
    display: flex;
    border-bottom:1px solid #E8E8E8;
}



.tabs>li{
    width:33.3333333%;
    text-align:center;
    line-height:20px;
    display:flex;
    justify-content: center;
    align-items:center;

}

.tabs>li>.text{
    padding:10px 5px;
    display:inline-block;
    top:0;
    font-size:15px;
    vertical-align:top;
}

.tabs>li.active{
    color:#D43C33;
    position:relative;

}



.tabs>li.active>.text{
    position:relative;
}

.tabs>li.active>.text::after{
    content:'';
    position:absolute;
    height:2px;
    background:#D43C33;
    bottom:0;
    left:0;
    width:100%;


}

.tab-content>li{
    display: none
}

.tab-content>li.active {
    display: block;
}


section.playlists{}





section.playlists>ol.songs{
    display:flex;
    flex-wrap: wrap;
    justify-content:space-between;
    font-size:13px;
    padding-bottom:8px;

}

section.playlists>ol.songs>li{
    width:33%;
    margin:8px 0;

}

section.playlists>ol.songs>li p{
    display:-webkit-box;
    -webkit-box-orient:vertical;
    -webkit-line-clamp:2;
    overflow:hidden;
    line-height:18px;
    height:36px;
    padding:0 4px;

}


section.playlists>ol.songs>li img{
    width:100%;

}

section.songs{

}

section.songs>.list{
    margin-top:18px;
}

section.songs>.list>li>h3{
    font-size:17px;

}
section.songs>.list>li>p{
    font-size:12px;
    color:#888;
    padding-top:4px;
    padding-bottom:8px;
}

section.songs>.list>li{
    position:relative;
    margin-left:10px;
    border-bottom:1px solid #F1F1F2;
    padding-top:5px;

}

section.songs>.list .playButton{
    position:absolute;
    right:12px;
    top:50%;
    transform:translateY(-50%)


}

section.songs>.list .icon-play{
    width:24px;
    height:24px;
    vertical-align:middle;
    fill:#AAAAAA;
}

section.songs>.list .icon-sq{
    width:20px;
    height:15px;
    align-items:center;
    fill:#FE672E;
    margin-left:-2px;
}



section.art{
    padding-top:68px;
    background:url('https://i.loli.net/2017/10/16/59e427dd34a70.png') no-repeat center;
    text-align:center;
    padding-bottom:18px;
    background-size:cover;
}

section.art svg{
    width：230px;
    height:44px;
}

section.art .link-wrapper>a{
    display:inline-block;
    border:1px solid ;
    line-height:38px;
    font-size:16px;
    padding:0 46px;
    border-radius:38px;
    color: #D43C33;
    margin-top:10px;
    margin-bottom:5px;
    text-align: center;

}

section.art .copyright{
    color:#888;
    font-size:12px;
    transform:scale(0.75);
    line-height:16px;
}
